<strong>Recuperação de senha</strong>


<p>Uma solicitação de Recuperação de senha foi realizada para o e-mail ({{email}}). Se você não foi o autor dessa solicitação, seria bom trocar a senha por sergurança</p>


<p>Para continuar com a Recuperação de senha, utilize o token <strong>{{ token }}</strong> ou clique no link abaixo</p>


<a href="{{link}}">Criar nova senha</a>
